= form_for @service do |f|
  - if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg
  .controls
    = f.label :date
    = f.text_field :date
    %br
    = f.label :description
    = f.text_field :description
    %br
    = f.label :hours
    = f.text_field :hours
    %br
    = f.label :notes
    = f.text_field :notes
    %br
    %label.checkbox
      Sent Survey
      = f.check_box :sent_survey
    %br
    %label.checkbox
      Return Survey
      = f.check_box :returned_survey
    %br
    %label.checkbox
      Trained
      = f.check_box :trained
    %br
    %label.checkbox
      Willing To Return
      = f.check_box :willing_to_return
    %br
    %h3 In Kind Donation
    = f.fields_for(:in_kind_donation) do |donation_form|
      .field
        = donation_form.label :date
        = donation_form.text_field :date
        = donation_form.label :description
        = donation_form.text_field :description
        = donation_form.label :dollar_value
        = donation_form.text_field :dollar_value
      - unless donation_form.object.nil? || donation_form.object.new_record?
        .field
          %label.checkbox
            Remove In Kind Donation?
            = donation_form.check_box :_destroy

    = f.label :place_id, "Place"
    =f.collection_select(:place_id, Place.all, :id, :city)
    %h3 People
    =render partial: "shared/habtm_form", locals: {object: @service, association: "person", attribute: "name"}
    %h3 Groups
    =render partial: "shared/habtm_form", locals: {object: @service, association: "group", attribute: "name"}
  .actions
    = f.submit 'Save'
