.field
  = f.label :date
  = f.text_field :date
  = f.label :amount
  = f.text_field :amount
- unless f.object.nil? || f.object.new_record?
  .field
    %label.checkbox
      Remove Cash Donation?
      = f.check_box :_destroy