%h1 Listing people

%table
  %tr
    %th Name
    %th Email
    %th Address
    %th Representative
    %th Actions

  - @people.each do |person|
    %tr
      %td= person.name
      %td= person.email
      %td= person.composite_address
      %td= person.representative.name unless person.representative.nil?
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Person', new_person_path
