= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg
  .controls
    =f.label :name
    =f.text_field :name
    %br
    =f.label :members
    =f.text_field :members
    %br
    %h2 Cash Donations
    - i = -1
    = f.fields_for(:cash_donations) do |donation_form|
      - i += 1
      = render partial: "shared/cash_donation_fields", :locals => {:f => donation_form}
    = link_to_add_fields "Add Cash Donation", f, :cash_donations
    %br
    %h3 People
    =render partial: "shared/habtm_form", locals: {object: @group, association: "person", attribute: "name"}
    /TODO Add GroupServices And Services Integration!
  .actions
    = f.submit 'Save'
