%ul
  %li= link_to 'People', people_path 
  %li= link_to 'Groups', groups_path 
  %li= link_to 'Donations', donations_path 
  %li= link_to 'Places', places_path 
  %li= link_to 'Services', services_path 
  %li= link_to 'Skills', skills_path 
