= form_for @donation do |f|
  - if @donation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@donation.errors.count, "error")} prohibited this donation from being saved:"
      %ul
        - @donation.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
